development:
  secret_key_base: 'd132fd22bc612e157d722e980c4b0525b938f225f9f7f66ea'
  service_login: scalarm
  service_password: scalarm
test:
  secret_key_base: 'test_key'
  service_login: scalarm
  service_password: scalarm
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  service_login: <%= ENV["INFORMATION_SERVICE_LOGIN"] %>
  service_password: <%= ENV["INFORMATION_SERVICE_PASSWORD"] %>
  service_crt: ./config/scalarm-cert.pem
  service_key: ./config/scalarm-cert-key.pem